{% extends 'base.html.twig' %}

{% block title %}{{ director.firstName }} {{ director.lastName }}{% endblock %}

{% block body %}
<h1>{{ director.firstName }} {{ director.lastName }}</h1>
<div class="example-wrapper">
    <p>{{ director.nationality }}</p>
    <h5>Filmographie</h5>
    <ul>
        {% for movie in director.movies %}
            <li>
                <a href="{{ path('movie_detail', {id: movie.id}) }}">
                    {{ movie.title }} ({{ movie.releaseYear }})
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
