{# templates/auteur/nouveau.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouveau réalisateur{% endblock %}

{% block body %}
<div class="custom-container w-50">
    <div class="realisateur-detail">
        <h1>Ajouter un réalisateur</h1>
        <div class="formulaire">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-12 col-md-6">
                        {{ form_row(form.firstName) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form_row(form.lastName) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        {{ form_row(form.nationality) }}
                    </div>
                </div>
                <button type="submit" class="btn btn-sm btn-primary mt-3">Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
